NET "clk" LOC = B8;
NET "reset" LOC = A7; # BTN3 used for reset
NET "sensor[2]" LOC = "A3" ;
NET "sensor[1]" LOC = "J3" ;
NET "sensor[0]" LOC = "B5" ;
NET "motor_l_pwm" LOC = "A9" ; # servo left
NET "motor_r_pwm" LOC = "B9" ; # servo right